[Unit]
Description=Leboncoin Console
After=default.target

[Service]
Type=oneshot
WorkingDirectory=/home/nrk/lbc/deploy
Environment=DOCKER_CONTEXT=default
ExecStartPre=/bin/sh -c 'for i in $(seq 1 60); do /usr/bin/docker --context default info >/dev/null 2>&1 && exit 0; sleep 2; done; exit 1'
ExecStart=/usr/bin/docker compose --env-file /home/nrk/lbc/deploy/.env up -d
ExecReload=/usr/bin/docker compose --env-file /home/nrk/lbc/deploy/.env up -d
ExecStop=/usr/bin/docker compose --env-file /home/nrk/lbc/deploy/.env stop
RemainAfterExit=yes
TimeoutStartSec=0
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=default.target
