{
	admin off
	auto_https off
}

:8080 {
	handle /vnc {
		redir * /vnc/vnc.html
	}
	handle_path /vnc/* {
		rewrite / /vnc.html
		reverse_proxy app:6080
	}

	handle {
		reverse_proxy app:8787 {
			header_up X-Forwarded-Proto https
		}
	}

	encode gzip
	log {
		output stdout
		format console
	}
}
